.background {
  viewport-fill: black;
}

#displayedHours {
  font-size: 140;
  font-family: Colfax-Black;
  text-length: 32;
  text-anchor: middle;
  font-weight:bold;
  x: 50%;
  y: 120;
}

#displayedMinutes {
  font-size: 140;
  font-family: Colfax-Black;
  text-length: 32;
  font-weight:bold;
  text-anchor: middle;
  x: 50%;
  y: 240;
}

#displayedDate {
  font-size:30;
  font-family: Colfax-Black;
  text-length: 10;
  x:12;
  y:288;
  text-anchor:start;
}

#heartRate {

}

#stepsCount{

}

.blue{
  fill:#266bb8;
}

#myLabel {
  font-size: 80;
  font-family: Colfax;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%+40;
  fill: white;
}
